<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue TEST</title>
    <!-- Vue.js を読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

    <div id="app-1">{{ message }}</div> <!-- {{ message }} が Vueデータに置換される -->

    <script>
        var app1 = new Vue({
            el: '#app-1',                        /* #app-1 要素に対して Vue を適用する */
            data: { message: 'Hello world!' }    /* message という名前のデータを定義する */
        })
    </script>

    <style>
        #app-2 .error {
            color: red;
        }
    </style>

    <div id="app-2">
        <input type="text" v-model="message">
        <div class="error" v-if="error.require">必須項目です。</div>
        <div class="error" v-if="error.tooLong">長すぎます。</div>
    </div>

    <script>
        var app2 = new Vue({    //Vue.jsを使用することを宣言
            el: '#app-2',   //#app-2要素に対して以下の処理を実装する。
            watch: {
                message: function (newVal, oldVal) {
                    //newValは新しく入力された文字列
                    //oldValはそれ以前に入力された文字列
                    this.error.require = (newVal.length < 1) ? true : false;
                    //新しい文字列の長さが1未満であれば#app-2のerror.requireはtrue、そうでなければfalse
                    this.error.tooLong = (newVal.length > 5) ? true : false;
                    //新しい文字列の長さが5より大きいならばerror.tooLongはtrue、そうでなければfalse

                    /* if文で書き直すと以下の通りになる。

                    if(newVal.length < 1) {
                        this.error.require = true;
                    }else{
                        this.error.require = false;
                    }
                    もう一つは省略します。
                    */
                }
            },
            data: {
                message: 'Hello',   //#app-2のmessageに対してHelloを代入する。
                error: {
                    require: false, //errorのrequireの初期状態をfalseと設定する。
                    tooLong: false,
                }
            }
        })
    </script>
    <h2>ディレクティブ</h2>
    <p>Vue では、タグに v-* の属性を指定することができます。これを ディレクティブ と呼びます。下記で説明するものの他、Vue.directive() や directives
        で独自のカスタムディレクティブを定義することもできます。</p>

    <h3>テキストをレンダリングする(v-text)</h3>
    <p>v-text は包含するテキストのデータ名を指定します。</p>

    <div id="app-101">
        <div v-text="message"></div> <!-- この行と -->
        <div>{{ message }}</div> <!-- この行は、同じ意味を持ちます -->
    </div>
    <script>
        var app101 = new Vue({
            el: '#app-101',
            data: { message: 'Hello!' }
        })
    </script>
    <h3>HTMLをレンダリングする(v-html)</h3>
    <p>通常のテキストは、`<`, `>`, `&` が &lt;, &gt;, &amp; に置換されて出力されますが、v-html
            を用いた場合はタグがそのまま出力されます。迂闊に使用するとセキュリティ問題を起こすことがあるので、クロスサイトスクリプティングに注意しながら使用してください。</p>
    <div id="app-102">
        <div v-text="message"></div> <!-- 置換される -->
        <div v-html="message"></div> <!-- 置換されない XSSに注意して使うこと。 -->
    </div>
    <script>
        var app102 = new Vue({
            el: '#app-102',
            data: { message: '<b>Hello!</b>' }
        })
    </script>

    <h3>条件により表示を制御する(v-show)</h3>
    <p>v-showは、値の真偽により表示する・しないを制御します。下記の例では、変数 seen が true の時は Hello! を表示し、false の時は表示しません。v-if
        が要素自体の有無を制御するのに対し、v-showでは CSS の display プロパティで表示のみを制御します。<b>具体的には"display:
            none"がstyleに追加されます。Chromeのデベロッパーツールを使って確認してみてください。</b></p>
    <div id="app-103">
        <input type="checkbox" @click="change" checked>
        <!-- @clickとはonclickのことでしょうか？ -->
        <span v-show="seen">Hello!</span>
    </div>
    <script>
        var app103 = new Vue({
            el: '#app-103',
            data: { seen: true },   //seenがtrueならば
            methods: {
                change: function (e) {
                    //このeは何？
                    this.seen = e.target.checked
                }
            }
        })
    </script>
    <h3>条件により表示を制御する(v-if)</h3>
    <p>v-if は、値の真偽により描画する・しないを制御します。下記の例では、変数 seen が true の時は Hello! を描画し、false の時は描画しません。v-show が CSS の
        displayプロパティで表示のみを制御するのに対し、v-if では要素自体の有無を制御します。<b>具体的には&lt;!----&gt;に変更されます。Chromeのデベロッパーツールを使って確かめてください。</b>
    </p>
    <div id="app-104">
        <input type="checkbox" @click="change" checked>
        <span v-if="seen">Hello!</span>
    </div>
    <script>
        var app104 = new Vue({
            el: '#app-104',
            data: { seen: true },
            methods: {
                change: function (e) {
                    //このeは何？ elements?
                    this.seen = e.target.checked
                    //checkedならばtrueという扱いなのだろうか？
                }
            }
        })
    </script>
    <h3>条件により表示を制御する(v-else)</h3>
    <p>v-else は v-if と組み合わせて使用し、「さもなくば」を実装します。下記の例では、seen が true の時は Hello! を、さもなくば Bye! を表示します。</p>
    <div id="app-105">
        <input type="checkbox" @click="change" checked>
        <span v-if="seen">Hello!</span>
        <span v-else>Bye!</span>
    </div>
    <script>
        var app105 = new Vue({
            el: '#app-105',
            data: { seen: true },
            methods: {
                change: function (e) {
                    this.seen = e.target.checked
                    //やはりcheckedならばtrueでそうでなければfalseとなっている？
                }
            }
        })
    </script>
    <h3>条件により表示を制御する(v-else-if)</h3>
    <p>v-else-if は v-if と組み合わせて使用し、「さもなくばもし」を実装します。下記の例では type が A の時は Good morining. を、B の時は Hello! を、さもなくば Bye!
        を表示します。</p>
    <div id="app-106">
        <input type="radio" name="app106-type" onclick="app106.type='A'" checked>
        <input type="radio" name="app106-type" onclick="app106.type='B'">
        <input type="radio" name="app106-type" onclick="app106.type='C'">
        <span v-if="type=='A'">Good morning.</span>
        <span v-else-if="type=='B'">Hello!</span>
        <span v-else>Bye!</span>
    </div>
    <script>
        var app106 = new Vue({
            el: '#app-106',
            data: { type: 'A' }
        })
    </script>
    <h3>ループする(v-for)</h3>
    <p>v-for はオブジェクトを配列の個数分表示したりなどのループに使用します。</p>
    <div id="app-107">
        <ul>
            <li v-for="color in colorList">{{ color }}</li>
        </ul>
    </div>
    <script>
        var app107 = new Vue({
            el: '#app-107',
            data: { colorList: ['Red', 'Green', 'Blue'] }
        })
    </script>
    <h3>イベントを処理する(v-on, @)</h3>
    <p>v-on はイベントを処理します。@ は v-on: の省略形です。v-on:click= と @click は同じ意味を持ちます。</p>
    <div id="app-108">
        <button v-on:click="hello">Hello(v-on:click)</button>
        <button @click="hello">Hello(@click)</button>
    </div>
    <script>
        var app108 = new Vue({
            el: '#app-108',
            methods: {
                hello: function () {
                    alert("Hello!");
                }
            }
        })
    </script>
    <table border="1">
        <tr>
            <th>修飾子</th>
            <th>説明</th>
        </tr>
        <tr>
            <th>.stop</th>
            <td>event.stopPropagation()を呼び、イベントが親要素に伝播するのを抑止します。</td>
        </tr>
        <tr>
            <th>.prevent</th>
            <td>event.preventDefault()を呼び、デフォルトの動作を抑止します。</td>
        </tr>
        <tr>
            <th>.capture</th>
            <td>イベントリスナをキャプチャモードで追加します。</td>
        </tr>
        <tr>
            <th>.self</th>
            <td>イベントがこの要素からディスパッチされた場合のみハンドラを呼びます。</td>
        </tr>
        <tr>
            <th>.{keyCode | keyAlias}</th>
            <td>指定されたキーが押された時のみ、ハンドラを呼びます。</td>
        </tr>
        <tr>
            <th>.native</th>
            <td>コンポーネントのルート要素に対するネイティブイベントを監視します。</td>
        </tr>
        <tr>
            <th>.once</th>
            <td>一度だけハンドラを呼びます。</td>
        </tr>
        <tr>
            <th>.left</th>
            <td>(2.2.0+)マウスの左ボタンに対してのみ、ハンドラを呼びます。</td>
        </tr>
        <tr>
            <th>.right</th>
            <td>(2.2.0+)マウスの右ボタンに対してのみ、ハンドラを呼びます。</td>
        </tr>
        <tr>
            <th>.middle</th>
            <td>(2.2.0+)マウスの中ボタンに対してのみ、ハンドラを呼びます。</td>
        </tr>
        <tr>
            <th>.passive</th>
            <td>(2.3.0+){passive : true }でDOMイベントをアタッチします。</td>
        </tr>
    </table>
    <h3>HTMLの属性を指定する(v-bind, :)</h3>
    <p>v-bind は、HTML タグの属性値に変数名を割り当てます。: は v-bind: の省略系です。v-bind:属性名 と :属性名は同じ意味を持ちます。</p>
    <div id="app-109">
        <input type="button" v-bind:value="message">
        <input type="button" :value="message">
        <p>コードは以下の通りですが、</p>
        <pre><code>
&lt;input type="button" <span style="color: red;">v-bind:value</span>="message"&gt;
&lt;input type="button" <span style="color: red;">:value</span>="message"&gt;
        </code></pre>
        <p>実際のソースは以下の通りになります。</p>
        <pre><code>
&lt;input type="button" value="Hello!"&gt;
&lt;input type="button" value="Hello!"&gt;
        </code></pre>
    </div>
    <script>
        var app109 = new Vue({
            el: '#app-109',
            data: { message: 'Hello!' }
        })
    </script>
    <p>v-bind には、v-bind:value.<b>camel</b> や :value.<b>camel</b> の様に、いくつかの修飾子をつけることができます。</p>
    <table border="2">
        <tr>
            <th>修飾子</th>
            <th>説明</th>
        </tr>
        <tr>
            <th>.prop</th>
            <td>属性の代わりにDOMプロパティをバインドします。</td>
        </tr>
        <tr>
            <th>.camel</th>
            <td>(2.1.0+)ケバブケース（例：color-name)の属性名を、キャメルケース(例：ColorName)の属性名に変換します。</td>
        </tr>
        <tr>
            <th>.sync</th>
            <td>バインドされた値を更新する v-onハンドラに展開されるのと同じ構文となります。</td>
        </tr>
    </table>
    <h3>入力フォームにモデルを割り当てる(v-model)</h3>
    <p>v-model は、input, select, textarea に対して使用し、Vue
        オブジェクトのデータと、フォーム部品の値を関係づけます。<b>ものは試しと&lt;buttonボタン&lt;/button&gt;を入力したがボタンは表示されませんでした。</b></p>
    <div id="app-120">
        <input v-model="message">
        <div>Message: {{ message }}</div>
    </div>
    <script>
        var app120 = new Vue({
            el: '#app-120',
            data: { message: 'Hello!' }
        })
    </script>
    <p>v-model には、v-model.<b>trim</b> のように、いくつかの修飾子をつけることができます。</p>
    <table border="1">
        <tr>
            <th>修飾子</th>
            <th>説明</th>
        </tr>
        <tr>
            <th>.lazy</th>
            <td>inputの代わりにchangeイベントを監視します。</td>
        </tr>
        <tr>
            <th>.number</th>
            <td>データを数値に変換します。</td>
        </tr>
        <tr>
            <th>.trim</th>
            <td>データをトリム（前後の空白を取り去る)</td>
        </tr>
    </table>
    <h3>テキストをそのまま出力する(v-pre)</h3>
    <p>v-pre は、Vue 対象の要素の中で、{{ ... }} を直接表示したい場合に使用します。</p>
    <div id="app-121">
        <div v-pre>Message: {{ message }}</div>
        <div>Message: {{ message }}</div>
    </div>
    <pre>
&lt;div v-pre&gt;Message: &lbrace;&lbrace; message &rbrace;&rbrace;&lt;/div&gt;
&lt;div&gt;Message: &lbrace;&lbrace; message &rbrace;&rbrace;&lt;/div&gt;
    </pre>
    <script>
        var app121 = new Vue({
            el: '#app-121',
            data: { message: 'Hello' }
        })
    </script>
    <h3>画面表示時に {{ ... }} を表示しない(v-cloak)</h3>
    <p>v-cloak は、画面を開いた際に {{ ... }} が一瞬だけ表示されてしまうのを防ぎます。cloak には、マントを着せるとか、覆い隠すという意味があります。v-cloak 属性が指定された要素に対してあらかじめCSS
        の display: none を適用しておきます。Vue のレンダリングが終わった時点で自動的に display: none が解除されます。下記の例では、3秒だけ Vueの処理実行を遅らせています。v-cloak
        を指定しない場合は {{ message }} が 3秒程度表示されてしまうのに対し、v-cloak を指定した場合は表示が抑制されるのがわかります。</p>
    <style>
        [v-cloak] {
            display: none
        }
    </style>
    <div id="app-122">
        <button onclick="location.reload()">再表示</button>
        <div>Message: <span v-cloak>{{ message }}</span></div>
        <div>Message: <span>{{ message }}</span></div>
    </div>
    <script>
        window.setTimeout(function () {
            var app122 = new Vue({
                el: '#app-122',
                data: { message: 'Hello!' }
            })
        }, 3000);
    </script>
    <h3>一度だけ表示する(v-once)</h3>
    <p>v-once は、Vue によるレンダリングを1度だけ行い、それ以降は変数が変動しても、表示に反映しないことを指示します。</p>
    <div id="app-123">
        <input type="text" name="text1" v-model:value="message">
        <div>Message: <span v-once>{{ message }}</span></div>
        <div>Message: <span>{{ message }}</span></div>
    </div>
    <script>
        var app123 = new Vue({
            el: '#app-123',
            data: { message: 'Hello' }
        })
    </script>
    <h2>グローバルAPI</h2>
    <h3>コンポーネント(Vue.component())</h3>
    <p>Vue.component() は、コンポーネントと呼ばれる Vue の独自要素を定義します。下記の例では、'&lt;strong&gt;Hello!&lt;/strong&gt;'
        を表示する独自要素&lt;my-element-140&gt; を定義しています。</p>
    <div id="app-140">
        <my-element-140></my-element-140>
    </div>
    <script>
        Vue.component('my-element-140', {
            template: '<strong>Hello</strong>'
        })
        var app140 = new Vue({
            el: '#app-140',
        })
    </script>
    <h3>サブクラス(Vue.extend())</h3>
    <p>Vue.extend() は、Vue.component() の第二引数で指定可能な、コンポーネントのサブクラスを生成します。</p>
    <div id="app-141">
        <my-component-141></my-component-141>
    </div>
    <script>
        var MyComponent141 = Vue.extend({
            template: '<strong>Hello!</strong>'
        })
        Vue.component('my-component-141', MyComponent141)
        var app141 = new Vue({
            el: '#app-141',
        })
    </script>
    <h3>DOM更新サイクル後の実行(Vue.nextTick())</h3>
    <p>Vue.nextTick() は、一連の DOM 更新サイクル完了後に実行すべきコールバック関数を登録します。下記の例では、app142.message を変更した直後ではまだ DOM は更新されておらず、コンソールには
        Hello! が出力されます。nextTick() で登録したコールバック関数は、DOM 更新サイクル終了後に呼び出されるため、DOM の情報も Bye! に更新されていることが確認できます。</p>
    <div id="app-142">
        <div>{{ message }}</div>
    </div>
    <script>
        var app142 = new Vue({
            el: '#app-142',
            data: {
                message: 'Hello!',
                msg1: '',
                msg2: ''
            }
        })
        app142.message = 'Bye!'
        console.log(app142.$el.textContent);
        Vue.nextTick(function () {
            console.log(app142.$el.textContent);
        })
    </script>
    <h3>非リアクティブデータの設定(Vue.set())</h3>
    <p>Vue.set() は、オブジェクトのプロパティを設定し、必要に応じて View の更新を行います。Vue では、data で指定された各データに対して内部的に getter/setter
        を用意し、データの変更を監視し、View
        に反映します。これをリアクティブなデータと呼びます。しかし、データ内部のプロパティが追加・削除された場合はその変更を検出することができません。下記の例では、this.colorList.blue = '#00f'
        としてプロパティを追加する代わりに、Vue.set() を用いて追加することにより、Vue にデータの変更を認識させ、View へ反映させています。</p>
    <div id="app-143">
        <input type="button" @click="addBlue" value="Add">
        <input type="button" @click="deleteBlue" value="Delete">
        <ul>
            <li v-for="(value, key) in colorList">{{ key }} = {{ value }}</li>
        </ul>
    </div>
    <script>
        var app143 = new Vue({
            el: '#app-143',
            data: {
                colorList: {
                    red: '#f00',
                    green: '#0f0'
                }
            },
            methods: {
                addBlue: function () {
                    Vue.set(this.colorList, 'blue', '#00f')
                },
                deleteBlue: function () {
                    Vue.delete(this.colorList, 'blue')
                }
            }
        })
    </script>
    <h3>非リアクティブデータの削除(Vue.delete())</h3>
    <p>Vue.delete() は、Vue.set() と同様に、非リアクティブなデータを削除するために用います。使用例は Vue.set() を参照してください。</p>
    <h3>カスタムディレクティブの登録(Vue.directive())</h3>
    <p>v-for や v-show などの ディレクティブ に加えて、グローバルに独自のカスタムディレクティブを追加することができます。下記の例では、フォントサイズを 16pt にする v-font16
        カスタムディレクティブを作成しています。ローカルなカスタムディレクティブを作成するには directives オプションを参照してください。</p>
    <div id="app-144">
        <div v-font16>Hello!</div>
    </div>
    <script>
        Vue.directive('font16', {
            inserted: function (el) {
                el.style.fontSize = '16pt'
            }
        })
        var app144 = new Vue({
            el: '#app-144'
        })
    </script>
    <h3>フィルタ(Vue.filter())</h3>
    <p>{{ 変数名 }} の箇所には、{{ 変数名 | フィルタ1 | フィルタ2 }} のようにいくつかのフィルタを記述することができます。下記の例では、Vue.filter() を用いて toupper
        フィルタを定義しています。ローカルなフィルタを登録するには filters を参照してください。</p>
    <div id="app-145">
        <div>{{ message | toupper }}</div>
    </div>
    <script>
        Vue.filter('toupper', function (value) {
            return value.toUpperCase()
        })
        var app145 = new Vue({
            el: '#app-145',
            data: { message: 'Hello!' }
        })
    </script>
    <h3>プラグインを利用する(Vue.use())</h3>
    <p>Vue.use() は、プラグインを利用する際に呼び出します。</p>
    Vue.use(MyPlugin)
    <h3>グローバルミックスイン(Vue.mixin())</h3>
    <p>グローバルミックスインを定義します。ミックスインについての詳細は mixins を参照してください。</p>
    <script>
        Vue.mixin({
            created: function () {
                console.log(this)
            }
        })
    </script>
    <h3>コンパイル(Vue.compile())</h3>
    <p>Vue.compile() は、{{ message }} などの文字列をあらかじめコンパイルします。</p>
    <script>
        var res = Vue.compile('<div>{{ message }}</div>');
        new Vue({
            data: { message: 'Hello!' },
            render: res.render,
            staticRenderFns: res.staticRenderFns
        })
    </script>
    <h3>バージョン番号(Vue.version)</h3>
    <p>Vue.version は、Vue のバージョン番号を返します。</p>
    <script>
        console.log(Vue.version) /*< !--2.5.13 -- >*/
    </script>
    <h2>オプション/データ</h2>
    <h3>データを保持する(data)</h3>
    <div id="app-201">{{ message }}</div>
    <script>
        var app201 = new Vue({
            el: '#app-201',
            data: { message: 'Hello!' }
        })
    </script>
    <h3>コンポーネントにパラメータを引き渡す(props)</h3>
    <p>props は、template などのコンポーネント内部で使用する属性を定義します。下記の例では、&lt;my-element-202&gt; の value 属性に対して、props
        で宣言することによって、template の内部で value の値を参照することが可能となります。</p>
    <div id="app-202">
        <my-element-202 value="Hello!"></my-element-202>
    </div>
    <script>
        Vue.component('my-element-202', {
            props: ['value'],
            template: '<div>{{ value }}</div>'
        })
        var app202 = new Vue({
            el: '#app-202'
        })
    </script>
    <h3>インスタンス作成中データ(propsData)</h3>
    <p>インスタンス作成中の props データを指定します。主に、Vue の単体テストを支援するために用いられます。</p>
    <div id="app-203">
        <div id="el-203"></div>
    </div>
    <script>
        var MyElement203 = Vue.extend({
            props: ['message'],
            template: '<div>{{ message }}</div>'
        })
        var vm = new MyElement203({
            propsData: { message: 'Hello!' }
        }).$mount('#el-203');
        var app203 = new Vue({
            el: '#app-203'
        })
    </script>
    <h3>算出プロパティ(computed)</h3>
    <p>computed は算出プロパティを生成します。下記の例では、message プロパティを元に、それを大文字化した upperMessage プロパティを算出して表示しています。</p>
    <div id="app-204">
        <div><input v-model="message"></div>
        <div>Message: {{ upperMessage }}</div>
    </div>
    <script>
        var app204 = new Vue({
            el: '#app-204',
            data: {
                message: 'Hello'
            },
            computed: {
                upperMessage: function () {
                    return this.message.toUpperCase();
                }
            }
        })
    </script>
    <h3>メソッド(methods)</h3>
    <p>methods は、v-on のイベントハンドラとして呼び出されるメソッドを定義します。</p>
    <div id="app-205">
        <button @click="toUpper">Upper</button>
        <button @click="toLower">Lower</button>
        <div>{{ message }}</div>
    </div>
    <script>
        var app205 = new Vue({
            el: '#app-205',
            data: {
                message: 'Hello'
            },
            methods: {
                toUpper: function () {
                    this.message = this.message.toUpperCase();
                },
                toLower: function () {
                    this.message = this.message.toLowerCase();
                }
            }
        })
    </script>
    <h3>監視(watch)</h3>
    <p>watch は、データの変動を監視します。データ変動時にコールバック関数が呼ばれ、引数には変更前の値と、変更後の値が渡されます。</p>
    <div id="app-206">
        <form>
            <input type="text" name="text1" :value="message">
            <input type="button" @click="change" value="Change">
        </form>
        <div>変更前: {{ oldmsg }}</div>
        <div>変更後: {{ newmsg }}</div>
    </div>
    <script>
        var app206 = new Vue({
            el: '#app-206',
            data: {
                message: 'new',
                newmsg: 'new',
                oldmsg: 'old'
            },
            watch: {
                message: function (newVal, oldVal) {
                    this.newmsg = newVal;
                    this.oldmsg = oldVal;
                }
            },
            methods: {
                change: function (e) {
                    this.message = e.target.form.text1.value;
                }
            }
        })
    </script>
    <h2>オプション/DOM</h2>
    <h3>Vueの適用対象要素を指定する(el)</h3>
    <p>el には、Vue を適用する要素を指定します。CSS のセレクタの構文を使用することができます。</p>
    <div id="app-210" v-text="message"></div>
    <script>
        var app210 = new Vue({
            el: '#app-210',
            data: { message: 'Hello!' }
        })
    </script>
    <h3>テンプレート(template)</h3>
    <p>template には、コンポーネントのテンプレートを指定します。</p>
    <div id="app-211">
        <my-element-211></my-element-211>
    </div>
    <script>
        Vue.component('my-element-211', {
            template: '<span>Hello!</span>'
        })
        var app211 = new Vue({
            el: '#app-211',
        })
    </script>
    <h3>レンダリング関数(render)</h3>
    <p>render は、template では表現できない複雑なテンプレートを、JavaScript の関数を用いて定義します。下記の例では、level 属性で指定した値によって、h1～h6 を適用する例を示しています。</p>
    <div id="app-212">
        <my-heading-212 :level="1">Hello!</my-heading-212>
    </div>
    <script>
        Vue.component('my-heading-212', {
            render: function (createElement) {
                return createElement('h' + this.level, this.$slots.default)
            },
            props: ['level']
        })
        var app212 = new Vue({
            el: '#app-212',
        })
    </script>
    <h3>レンダリングエラーハンドリング(renderError)</h3>
    <p>renderError は、開発モードでのみ有効で、render 関数内でエラーが発生した際に、エラー詳細情報などを表示するために用いられます。下記の例では、render 関数で throw
        された例外を受け取り、renderError 関数でスタック情報を表示しています。</p>
    <div id="app-213">
        <app213-heading :level="1">Hello!</app213-heading>
    </div>
    <script>
        Vue.component('app213-heading', {
            render: function (createElement) {
                throw new Error('err213')
            },
            renderError: function (ce, err) {
                return ce('pre', { style: { color: 'red' } }, err.stack)
            },
            props: ['level']
        })
        var app213 = new Vue({
            el: '#app-213',
        })
    </script>
    <h2>オプション/ライフサイクルフック</h2>
    <h3>フック関数(created, ...)</h3>
    <p>Vue のインスタンスが生成されたり、更新されたりする際に呼ばれるコールバック関数を指定します。</p>
    <p>下記のフック関数が定義されています。</p>
    <table border="1">
        <tr>
            <th>フック関数</th>
            <th>説明</th>
        </tr>
        <tr>
            <th>beforeCreated</th>
            <td>インスタンスが作成される直前に呼ばれます。</td>
        </tr>
        <tr>
            <th>created</th>
            <td>インスタンスが作成された直後に呼ばれます。</td>
        </tr>
        <tr>
            <th>beforeMount</th>
            <td>renderによってマウントされる直前に呼ばれます。</td>
        </tr>
        <tr>
            <th>mounted</th>
            <td>renderによってマウントされた直後に呼ばれます。</td>
        </tr>
        <tr>
            <th>beforeUpdate</th>
            <td>インスタンスのデータが更新される直前に呼ばれます。</td>
        </tr>
        <tr>
            <th>updated</th>
            <td>インスタンスのデータが更新された直後に呼ばれます。</td>
        </tr>
        <tr>
            <th>activated</th>
            <td>コンポーネントが活性化する時に呼ばれます。</td>
        </tr>
        <tr>
            <th>deactivated</th>
            <td>コンポーネントが非活性化する時に呼ばれます。</td>
        </tr>
        <tr>
            <th>beforeDestroy</th>
            <td>インスタンスが破棄される直前に呼ばれます。</td>
        </tr>
        <tr>
            <th>destroyed</th>
            <td>インスタンスが破棄された直後に呼ばれます。</td>
        </tr>
        <tr>
            <th>errorCaptured</th>
            <td>エラーがキャプチャされた時に呼ばれます。</td>
        </tr>
    </table>
    <h2>オプション/アセット</h2>
    <h3>カスタムディレクティブ(directives)</h3>
    <p>v-for や v-show などの ディレクティブ に加えて、ローカルに独自のカスタムディレクティブを追加することができます。下記の例では、フォントサイズを 16pt にする v-font16
        カスタムディレクティブを作成しています。グローバルなカスタムディレクティブを作成するには Vue.directive() を参照してください。</p>
    <div id="app-250">
        <div v-font16>Hello!</div>
    </div>
    <script>
        var app250 = new Vue({
            el: '#app-250',
            directives: {
                font16: {
                    inserted: function (el) {
                        el.style.fontSize = '16pt'
                    }
                }
            }
        })
    </script>
    <h1>以下略</h1>
    <a href="http://www.tohoho-web.com/ex/vuejs.html">とほほのVue.js</a>
</body>

</html>